<h1>{{title}}</h1>
<div style="width: 300px; border: 1px solid red">

  <svg #container
       xmlns="http://www.w3.org/2000/svg"
       viewBox="0  0 1000 1000"
       style="font-family: 'Arial Black', sans-serif; font-size: 36pt"
  >
       <g  #draggable transform="translate(200, 400)">
          <circle
            cx="0"
            cy="0"
            r="120"
            fill="AliceBlue"
            stroke="Blue"
          />
          <text
            x="0"
            y="0"
            dominant-baseline="middle"
            text-anchor="middle"
            fill="Blue"
          >Drag Me
          </text>
        </g>


  </svg>

</div>
